[Unit]
Description=Check SiftGate every 30 seconds

[Timer]
OnBootSec=60
OnUnitInactiveSec=30
AccuracySec=1
Unit=siftgate-watchdog.service

[Install]
WantedBy=timers.target
